# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
ruff.xml
vcs.xml
profiles_settings.xml
Project_Default.xml
PosturePulse.iml
modules.xml
misc.xml